@charset "UTF-08";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:blue;
  color: white;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 1px orange;
}

select {
  width: 150px;
  padding: 5px;
}
main {
  background-color: rgb(255, 140, 0);
  margin: auto;
  width: 70vw;
  border-radius: 10px;
  padding: 20px;
  text-shadow: 1px 1px 1px black;
}

footer {
  text-align: center;
  }